
body {
    font-family: Arial, Helvetica, sans-serif !important;
}

textarea {
    resize: none;
}


.anim-status {
    -webkit-animation: status 1s infinite linear;
}

@-webkit-keyframes status {
    0%  {width: 100%; height: 100%; opacity: 1; top: 0%; left: 0%;}
    40% {width: 200%; height: 200%; opacity: 0; top: -50%; left: -50%;}
    100% {width: 200%; height: 200%; opacity: 0; top: -50%; left: -50%;}
}


.anim-spin {
    -webkit-animation: spin 4s infinite linear;
}

@-webkit-keyframes spin {
    0%  {-webkit-transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);}
}


.anim-blink {
    -webkit-animation: blink 1s infinite linear;
}


@-webkit-keyframes blink {
    0%  {opacity: 1;}
    50%  {opacity: 0;}
    100% {opacity: 1;}
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
